section.dashboard {
    padding: 150px 0 100px 0;

    .collection {

        .collection-item {
            color: $color-dark;
            transition-duration: .3s;
            transition-property: background-color;
    
            &:hover, &.active-page {
                background-color: $color-light;
            }
    
            .fa {
                margin-right: 20px;
            }
        }
    }

    .dashboard-grid {
        padding: 0 150px;

        .card-label {
            
            span {
                font-size: 30px;
                font-weight: bold;
            }
        }
    }

    &.dashboard-mail {

        tr {
            th:first-of-type, td:first-of-type {
                width: 200px;
            }

            th:nth-of-type(2), td:nth-of-type(2) {
                width: 250px;
            }
        }

        .mail-control-buttons .fas {
            cursor: pointer;
            font-size: 22px;
            opacity: .4;
            transition-duration: .3s;
            transition-property: opacity;
            
            &:not(:last-of-type) {
                margin-right: 10px;
            }

            &:hover {
                opacity: .6;
            }
        }
    }
}
