section {
    &.extra-info {
        margin-top: 350px;

        .extra-info-card {
            height: 450px;
            position: relative;

            .extra-info-content {
                bottom: 0;
                position: absolute;
                width: 100%;

                p {
                    padding-right: 20px;

                    span {
                        font-weight: bold;
                        font-size: 2rem;
                    }
                }

                .fa {
                    bottom: 20px;
                    position: absolute;
                }
            }
        }
    }
}