footer#about {

    .footer-phone-number-icon {
        margin-right: 10px;
    }

    ul.contact-list a {
        align-items: center;
        display: flex;
        flex-direction: row;
        margin-bottom: 10px;

        .fa, .fab {
            margin-right: 15px;
        }
    }

    .shipping-footer {
        align-items: center;
        display: flex;
        flex-direction: row;
        justify-content: center;

        span {
            margin-right: 10px;
        }
    }
}
