footer#about {
	.footer-phone-number-icon {
		margin-right: 10px;
	}

	.collection-item,
	.collection-header {
		background-color: transparent;
		border: none;
	}

	.contact-list a {
		border: none;
		margin-bottom: 10px;

		.fa,
		.fab {
			margin-right: 15px;
		}
	}

	.footer-shipping {
		span {
			margin-left: 10px;
		}
	}

	.amana-logo {
		border-radius: 6px;
		filter: grayscale(60%);
		transition-duration: 0.3s;
		transition-property: filter;

		&:hover {
			filter: grayscale(10%);
		}
	}

	@media screen and (max-width: $tablet-break-point) {
		.footer-extra,
		.footer-content,
		.footer-content .contact-list a,
		.footer-copyright {
			text-align: center;
		}
	}

	@media screen and (max-width: $desktop-break-point) {
		.footer-content .contact-list a {
			text-align: center;
		}
	}
}
