@import "carousel.scss";
@import "colors.scss";
@import "extra-info.scss";
@import "footer.scss";
@import "nav.scss";
@import "product-carousel.scss";
@import "search.scss";
@import "scroll-to-top.scss";

main {
    padding-bottom: 350px;
    position: relative;

    &::before {
        background-attachment: fixed;
        background-image: url("/assets/img/backgrounds/main-bg.jpg");
        background-repeat: repeat-y;
        background-size: cover;
        content : "";
        height: 100%;
        opacity: .1;
        position: absolute;
        width: 100%;
        z-index: -1;
    }
}
