@import "carousel.scss";
@import "colors.scss";
@import "dashboard.scss";
@import "error.scss";
@import "extra-info.scss";
@import "footer.scss";
@import "login.scss";
@import "nav.scss";
@import "product-showcase.scss";
@import "scroll-to-top.scss";

main {
    position: relative;

    &::before {
        background-attachment: fixed;
        background-image: url("/assets/img/backgrounds/main-bg.jpg");
        background-repeat: repeat-y;
        background-size: cover;
        content : "";
        height: 100%;
        opacity: .1;
        position: absolute;
        width: 100%;
        z-index: -1;
    }
}

#contact-modal {

    .message-content {
        margin-top: 100px;
    }
}
