.navbar-fixed {
	.nav-icon {
		font-size: 20px;
	}

	.brand-logo {
		margin-left: 10px;
	}

	.nav-social {
		opacity: 0.3;
		transition-duration: 0.3s;
		transition-property: opacity;

		&:hover {
			opacity: 0.8;
		}

		&:not(:first-of-type) {
			margin-right: 20px;
		}
	}

	.nav-phone {
		font-size: 18px;
		margin-right: 8px;
	}

	.search-field {
		opacity: 0;
		transition-duration: 0.3s;
		transition-property: opacity width;
		width: 0;

		input {
			color: $color-light;
			padding: 0 10px;

			&:focus {
				border-bottom: none !important;
				box-shadow: none !important;
			}
		}

		&.field-visible {
			opacity: 1;
			width: 300px;
		}
	}

	#cart-button {
		padding-right: 0;

		.cart-badge {
			border-radius: 50%;
			font-weight: bold;
			padding: 2px 6px;
			position: relative;
			right: 12px;
			top: -12px;
		}
	}
}
