.nav-icon {
    font-size: 20px;
}

.nav-social {
    opacity: .3;
    transition-duration: .3s;
    transition-property: opacity;

    &:hover {
        opacity: .8;
    }

    &:not(:last-of-type) {
        margin-right: 20px;
    }
}

.nav-phone {
    font-size: 18px;
    margin-right: 8px;
}

#cart-button {
    padding-right: 0;

    .cart-badge {
        border-radius: 50%;
        font-weight: bold;
        padding: 2px 6px;
        position: relative;
        right: 12px;
        top: -12px;
    }
}
