.product-card {
    .card-content {
        height: 100px;
    }

    .card-image {
        padding: 30px;
    }

    .price {
        height: 90px;

        del {
            font-size: 16px;
        }

        b {
            font-size: 24px;
        }
    }
}
