.product-showcase {
    height: auto;
    margin-top: 350px;
    padding: 30px 0 50px 0;

    .all-products {
        display: inline-block;

        .fa-list {
            margin-right: 10px;
        }
    }
}
