.product-card {
    .card-image {
        padding: 30px;
    }

    .price {
        del {
            font-size: 16px;
        }

        b {
            font-size: 24px;
        }
    }

    .weight {
        white-space: nowrap;
    }
}
