.scroll-down-section {
    height: 1200px;
    position: relative;

    .scroll-down-heading {
        font-weight: 200;
        margin-bottom: 80px;
        text-align: center;
        z-index: 1;
    }

    .fa-caret-down {
        opacity: .3;
    }

    .scroll-down-section-content {
        align-items: center;
        display: flex;
        flex-direction: column;
        height: 500px;
        justify-content: center;
        width: auto;
    }

    &::before {
        background-image: url("/assets/img/backgrounds/scroll-down-bg.jpeg");
        background-repeat: no-repeat;
        background-size: cover;
        content : "";
        filter: grayscale(80%);
        height: 100%;
        position: absolute;
        width: 100%;
        z-index: 0;
    }
}
