.search-section {
    height: 1200px;
    position: relative;

    .search-heading {
        margin-bottom: 50px;
        z-index: 1;
    }

    .search-box {
        margin-bottom: 40px;
        width: 800px;
    }

    .fa-search {
        opacity: .3;
    }

    .search-section-content {
        align-items: center;
        display: flex;
        flex-direction: column;
        height: 600px;
        justify-content: center;
        width: auto;

        .search-field {
            padding: 10px 30px;

            input {
                padding-top: 4px;
                font-size: 22px;
            }

            .autocomplete, .autocomplete:focus {
                border-bottom: none;
                box-shadow: none;
            }
        }
    }

    &::before {
        background-image: url("/assets/img/backgrounds/search-bg.jpeg");
        background-repeat: no-repeat;
        background-size: cover;
        content : "";
        filter: grayscale(80%);
        height: 100%;
        position: absolute;
        width: 100%;
        z-index: 0;
    }
}
