<div id="cart-modal" class="modal modal-fixed-footer">
  <div class="preloader-wrapper active">
    <div class="spinner-layer spinner-red-only">
      <div class="circle-clipper left">
        <div class="circle"></div>
      </div>
      <div class="gap-patch">
        <div class="circle"></div>
      </div>
      <div class="circle-clipper right">
        <div class="circle"></div>
      </div>
    </div>
  </div>
  <div class="modal-content">
    <h4 class="right-align">[<span id="cart-item-count">0</span>] عربة التسوق</h4>
    <hr>
  </div>
  <div class="modal-footer">
    <a href="#!" class="modal-close waves-effect waves-green btn-flat">أغلق</a>
  </div>
</div>
