<div id="cart-modal" class="modal modal-fixed-footer">
  <div class="cart-loader">
    <div class="preloader-wrapper big active">
      <div class="spinner-layer">
        <div class="circle-clipper left">
          <div class="circle"></div>
        </div>
        <div class="gap-patch">
          <div class="circle"></div>
        </div>
        <div class="circle-clipper right">
          <div class="circle"></div>
        </div>
      </div>
    </div>
    <h5 class="center-align grey-text">...تحميل العربة</h5>
    <button class="btn btn-large waves-effect waves-ligh grey lighten-2 black-text modal-close">إلغاء</button>
  </div>
  <div class="modal-content">
    <h4 class="right-align">[<span id="cart-item-count">0</span>] عربة التسوق</h4>
    <hr>
    <ul class="collection"></ul>
  </div>
  <div class="modal-footer">
    <a href="javascript:void(0)" class="waves-effect waves-green btn-flat" id="cart-clear-btn">امسح الكل</a>
    <a href="javascript:void(0)" class="modal-close waves-effect waves-green btn-flat">أغلق</a>
  </div>
</div>
