<div id="global-preloader" class="grey lighten-3">
  <div class="row">
    <div class="col s12">
      <img src="/assets/img/logos/logo.png" alt="Supplements Maroc logo.">
    </div>
  </div>
  <div class="row">
    <div class="col s12">
      <h6 class="grey-text">جار التحميل...&rlm;</h6>
    </div>
  </div>
</div>
