<ul class="collection z-depth-1">
    <a href="/dashboard">
        <li class="collection-item">
            <div>
                <fa class="fa fa-columns fa-lg"></fa> لوحة القيادة
            </div>

        </li>
    </a>
    <a href="/dashboard/orders">
        <li class="collection-item">
            <div>
                <fa class="fa fa-outdent fa-lg"></fa> الطلبات
                <span class="new badge" data-badge-caption="جديد">3</span>
            </div>
        </li>
    </a>
    <a href="/dashboard/mail/0">
        <li class="collection-item">
            <div>
                <fa class="fa fa-envelope fa-lg"></fa> البريد

                {{#if NewMail }}
                    <span class="new badge" data-badge-caption="جديد">{{ NewMail }}</span>
                {{/if}}
            </div>
        </li>
    </a>
    <a href="/dashboard/products">
        <li class="collection-item">
            <div>
                <fa class="fa fa-prescription-bottle fa-lg"></fa> المنتجات
            </div>
        </li>
    </a>
    <a href="/dashboard/brands">
        <li class="collection-item">
            <div>
                <fa class="fa fa-copyright fa-lg"></fa> العلامات التجارية
            </div>
        </li>
    </a>
    <a href="/dashboard/categories">
        <li class="collection-item">
            <div>
                <fa class="fa fa-layer-group fa-lg"></fa> الفئات
            </div>
        </li>
    </a>
    <a href="/dashboard/flavors">
        <li class="collection-item">
            <div>
                <fa class="fa fa-grin-tongue fa-lg"></fa> النكهات
            </div>
        </li>
    </a>
    <a href="/dashboard/coupons">
        <li class="collection-item">
            <div>
                <fa class="fa fa-tag fa-lg"></fa> القسائم
            </div>
        </li>
    </a>
    <a href="/dashboard/config">
        <li class="collection-item">
            <div>
                <fa class="fa fa-cog fa-lg"></fa> الإعدادات
            </div>
        </li>
    </a>
</ul>