<ul class="collection z-depth-1">
    <a href="/dashboard">
        <li class="collection-item">
            <div>
                <fa class="fa fa-columns fa-lg"></fa> Dashboard
            </div>

        </li>
    </a>
    <a href="/dashboard/orders">
        <li class="collection-item">
            <div>
                <fa class="fa fa-outdent fa-lg"></fa> Orders
                <span class="new badge">3</span>
            </div>
        </li>
    </a>
    <a href="/dashboard/mail">
        <li class="collection-item">
            <div>
                <fa class="fa fa-envelope fa-lg"></fa> Mail
                <span class="new badge">{{ NewMail }}</span>
            </div>
        </li>
    </a>
    <a href="/dashboard/products">
        <li class="collection-item">
            <div>
                <fa class="fa fa-prescription-bottle fa-lg"></fa> Products
            </div>
        </li>
    </a>
    <a href="/dashboard/brands">
        <li class="collection-item">
            <div>
                <fa class="fa fa-copyright fa-lg"></fa> Brands
            </div>
        </li>
    </a>
    <a href="/dashboard/categories">
        <li class="collection-item">
            <div>
                <fa class="fa fa-layer-group fa-lg"></fa> Categories
            </div>
        </li>
    </a>
    <a href="/dashboard/flavors">
        <li class="collection-item">
            <div>
                <fa class="fa fa-grin-tongue fa-lg"></fa> Flavors
            </div>
        </li>
    </a>
    <a href="/dashboard/coupons">
        <li class="collection-item">
            <div>
                <fa class="fa fa-tag fa-lg"></fa> Coupons
            </div>
        </li>
    </a>
    <a href="/dashboard/config">
        <li class="collection-item">
            <div>
                <fa class="fa fa-cog fa-lg"></fa> Config
            </div>
        </li>
    </a>
</ul>