<section class="dashboard">
    <div class="row">
        <aside class="col s2">
            <ul class="collection">
                <li class="collection-item">
                    <div>
                        <fa class="fa fa-columns fa-lg"></fa> Dashboard
                    </div>
                </li>
                <li class="collection-item">
                    <div>
                        <fa class="fa fa-outdent fa-lg"></fa> Orders
                        <span class="new badge">4</span>
                    </div>
                </li>
                <li class="collection-item">
                    <div>
                        <fa class="fa fa-envelope fa-lg"></fa> Mail
                        <span class="new badge">4</span>
                    </div>
                </li>
                <li class="collection-item">
                    <div>
                        <fa class="fa fa-prescription-bottle fa-lg"></fa> Products
                    </div>
                </li>
                <li class="collection-item">
                    <div>
                        <fa class="fa fa-copyright fa-lg"></fa> Brands
                    </div>
                </li>
                <li class="collection-item">
                    <div>
                        <fa class="fa fa-layer-group fa-lg"></fa> Categories
                    </div>
                </li>
                <li class="collection-item">
                    <div>
                        <fa class="fa fa-grin-tongue fa-lg"></fa> Flavors
                    </div>
                </li>
                <li class="collection-item">
                    <div>
                        <fa class="fa fa-tag fa-lg"></fa> Coupons
                    </div>
                </li>
                <li class="collection-item">
                    <div>
                        <fa class="fa fa-cog fa-lg"></fa> Config
                    </div>
                </li>
            </ul>
        </aside>

        <div class="col s10 dashboard-grid">
            <div class="row">
                <div class="col s3">
                    <div class="card-panel grey-text">
                        <div class="row valign-wrapper">
                            <div class="col"><i class="fa fa-funnel-dollar fa-lg"></i></div>
                            <div class="col">
                                <h6>Revenue</h6>
                            </div>
                        </div>
                        <div class="row valign-wrapper">
                            <div class="col s12">
                                <span>2,680.56 MAD</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col s3">
                    <div class="card-panel grey-text">
                        <div class="row valign-wrapper">
                            <div class="col"><i class="fa fa-outdent fa-lg"></i></div>
                            <div class="col">
                                <h6>Orders</h6>
                            </div>
                        </div>
                        <div class="row valign-wrapper">
                            <div class="col s12">
                                <span>54</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col s3">
                    <div class="card-panel grey-text">
                        <div class="row valign-wrapper">
                            <div class="col"><i class="fa fa-envelope fa-lg"></i></div>
                            <div class="col">
                                <h6>Mail</h6>
                            </div>
                        </div>
                        <div class="row valign-wrapper">
                            <div class="col s12">
                                <span>91</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col s3">
                    <div class="card-panel grey-text">
                        <div class="row valign-wrapper">
                            <div class="col"><i class="fa fa-prescription-bottle fa-lg"></i></div>
                            <div class="col">
                                <h6>Products</h6>
                            </div>
                        </div>
                        <div class="row valign-wrapper">
                            <div class="col s12">
                                <span>360</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col s3">
                    <div class="row">
                        <div class="col s12">
                            <div class="card-panel teal">Lorem ipsum dolor sit amet consectetur adipisicing elit.
                                Mollitia, sequi!</div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col s12">
                            <div class="card-panel teal">Lorem ipsum dolor sit amet consectetur adipisicing elit.
                                Mollitia, sequi!</div>
                        </div>
                    </div>
                </div>
                <div class="col s9">
                    <canvas id="orders-chart"></canvas>
                </div>
            </div>
        </div>
    </div>
</section>

<script src="/assets/chart.js/dist/Chart.bundle.min.js"></script>
<script>
    var ctx = document.getElementById('orders-chart').getContext('2d');
    var myChart = new Chart(ctx, {
        type: 'line',
        data: {
            labels: ['January', 'February', 'Mars', 'April', 'May', 'June', 'Jule', 'August', 'Septembre', 'October', 'Novembre', 'Decembre'],
            datasets: [{
                label: 'Orders per month',
                data: [10, 3, 6, 12, 7, 3, 15, 20, 22, 15, 10, 13],
                backgroundColor: [
                    'rgba(255, 99, 132, 0.2)',
                    'rgba(54, 162, 235, 0.2)',
                    'rgba(255, 206, 86, 0.2)',
                    'rgba(75, 192, 192, 0.2)',
                    'rgba(153, 102, 255, 0.2)',
                    'rgba(255, 159, 64, 0.2)'
                ],
                borderColor: [
                    'rgba(255, 99, 132, 1)',
                    'rgba(54, 162, 235, 1)',
                    'rgba(255, 206, 86, 1)',
                    'rgba(75, 192, 192, 1)',
                    'rgba(153, 102, 255, 1)',
                    'rgba(255, 159, 64, 1)'
                ],
                borderWidth: 1
            }]
        },
        options: {
            scales: {
                yAxes: [{
                    ticks: {
                        beginAtZero: true
                    }
                }]
            }
        }
    });
</script>