<section class="dashboard">
    <div class="row">
        <aside class="col s2">
            <ul class="collection">
                <li class="collection-item">
                    <div>
                        <fa class="fa fa-columns fa-lg"></fa> Dashboard
                    </div>
                </li>
                <li class="collection-item">
                    <div>
                        <fa class="fa fa-outdent fa-lg"></fa> Orders
                        <span class="new badge">4</span>
                    </div>
                </li>
                <li class="collection-item">
                    <div>
                        <fa class="fa fa-envelope fa-lg"></fa> Mail
                        <span class="new badge">4</span>
                    </div>
                </li>
                <li class="collection-item">
                    <div>
                        <fa class="fa fa-prescription-bottle fa-lg"></fa> Products
                    </div>
                </li>
                <li class="collection-item">
                    <div>
                        <fa class="fa fa-copyright fa-lg"></fa> Brands
                    </div>
                </li>
                <li class="collection-item">
                    <div>
                        <fa class="fa fa-layer-group fa-lg"></fa> Categories
                    </div>
                </li>
                <li class="collection-item">
                    <div>
                        <fa class="fa fa-grin-tongue fa-lg"></fa> Favores
                    </div>
                </li>
                <li class="collection-item">
                    <div>
                        <fa class="fa fa-tag fa-lg"></fa> Coupons
                    </div>
                </li>
                <li class="collection-item">
                    <div>
                        <fa class="fa fa-cog fa-lg"></fa> Config
                    </div>
                </li>
            </ul>
        </aside>

        <div class="col s10">
        </div>
    </div>
</section>