<section class="dashboard dashboard-mail">
    <div class="row">
        <aside class="col s2">
            {{> sidebar }}
        </aside>

        <div class="col s10 dashboard-grid">
            <div class="row">
                <div class="card-panel">
                    <div class="row valign-wrapper">
                        <div class="col s9">
                            <h4 class="grey-text">
                                <i class="fa fa-envelope"></i>
                                Mail [{{ Data.Mail.length }}]
                            </h4>
                        </div>
                        <div class="col s3 right-align">
                            <div class="input-field">
                                <select>
                                    <option value="1">All</option>
                                    <option value="1">Read</option>
                                    <option value="2">Unread</option>
                                </select>
                                <label>Show</label>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col s12">
                            <table class="highlight">
                                <thead>
                                    <tr>
                                        <th>
                                            <label id="select-all-mail-btn">
                                                <input type="checkbox" class="filled-in" />
                                                <span>Select all</span>
                                            </label>
                                        </th>
                                        <th class="grey-text mail-control-buttons right-align" colspan="2">
                                            <i class="fas fa-trash"></i>
                                            <i class="fas fa-envelope"></i>
                                        </th>
                                    </tr>
                                </thead>

                                <tbody>
                                    {{#each Data.Mail}}
                                    <tr>
                                        <td>
                                            <label>
                                                <input type="checkbox" />
                                                <span></span>
                                            </label>
                                        </td>
                                        <td>
                                            <b>{{this.SenderName}}</b>
                                        </td>
                                        <td>
                                            {{this.Message}}
                                        </td>
                                    </tr>
                                    {{/each}}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>