<div class="dashboard dashboard-shipping">
  <div class="row">
    <aside class="col s2">
      {{> sidebar NewMail=Data.NewMail }}
    </aside>

    <div class="col s10 container dashboard__grid">
      <div class="row">
        <div class="card-panel">
          <div class="row valign-wrapper">
            <div class="col s12">
              <h4 class="grey-text right-align">
                الشحن
                <i class="fa fa-shipping-fast"></i>
              </h4>
            </div>
          </div>
          <div class="row">
            <div class="col s12">

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>