<!DOCTYPE html>

<html lang="en">

<head>

    {{!-- Meta data. --}}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="author" content="EOussama">
    <meta name="application-name" content="Supplements Maroc">
    <meta name="description" content="Online store for selling workout-related protein products.">
    <meta name="keywords" content="store, e-commerce">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {{!-- The favicon. --}}
    <link rel="icon" href="/assets/img/favicon.png">

    {{!-- Font Awesome. --}}
    <link rel="stylesheet" href="/assets/fontawesome/css/all.min.css">

    {{!-- Materialize Stylesheet. --}}
    <link rel="stylesheet" href="/assets/materialize/dist/css/materialize.min.css">

    {{!-- The main stylesheet. --}}
    <link rel="stylesheet" href="/assets/css/main.css">

    {{!-- The title. --}}
    <title>Supplements Maroc</title>
</head>

<body class="container">

    {{!-- The main content of the page. --}}
    <main>
        {{{body}}}
    </main>

    {{!-- The footer's partial. --}}
    <footer>
        <div>

            {{!-- The footer's text. --}}
            <p>
                <strong>Supplements Maroc</strong> by <a href="https://github.com/EOussama">Oussama Essamadi</a>.
            </p>
        </div>
    </footer>

    {{!-- Materialize Script. --}}
    <script src="/assets/materialize/dist/js/materialize.min.js"></script>

    {{!-- The main script. --}}
    <script src="/assets/js/main.js"></script>
</body>

</html>