<!DOCTYPE html>

<html lang="en">

<head>

    {{!-- Meta data. --}}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="author" content="EOussama">
    <meta name="application-name" content="Supplements Maroc">
    <meta name="description" content="Online store for selling workout-related protein products.">
    <meta name="keywords" content="store, e-commerce">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {{!-- The favicon. --}}
    <link rel="icon" href="/assets/img/favicon.png">

    {{!-- Font Awesome. --}}
    <link rel="stylesheet" href="/assets/fontawesome/css/all.min.css">

    {{!-- Materialize Stylesheet. --}}
    <link rel="stylesheet" href="/assets/materialize/dist/css/materialize.min.css">

    {{!-- The main stylesheet. --}}
    <link rel="stylesheet" href="/assets/css/main.css">

    {{!-- The title. --}}
    <title>Supplements Maroc</title>
</head>

<body>

    {{!-- The navbar. --}}
    <div class="navbar-fixed">
        <nav>
            <div class="nav-wrapper container">
                <a href="#" class="brand-logo">Supplements Maroc</a>
                <ul id="nav-mobile" class="right hide-on-med-and-down">
                    <li><a href="/">Home</a></li>
                    <li><a href="/search">Search</a></li>
                    <li><a href="javascript:void(0)">About Us</a></li>
                    <li><a href="javascript:void(0)" data-target="phone-number-dropdown" id="phone-dropdown-trigger"><i
                                class="fa fa-phone"></i></a></li>
                    <li><a href="javascript:void(0)"><i class="fa fa-shopping-cart"></i></a></li>
                    <li><a href="javascript:void(0)"><i class="fa fa-user-cog"></i></a></li>
                </ul>
            </div>
        </nav>

        <ul id='phone-number-dropdown' class='dropdown-content'>
            <li><a href="javascript:void(0)">06123456789</a></li>
        </ul>
    </div>

    {{!-- The main content of the page. --}}
    <main>
        {{{body}}}
    </main>

    {{!-- The footer's partial. --}}
    <footer class="container">
        <div>

            {{!-- The footer's text. --}}
            <p>
                <strong>Supplements Maroc</strong> by <a href="https://github.com/EOussama">Oussama Essamadi</a>.
            </p>
        </div>
    </footer>

    {{!-- JQuery Script. --}}
    <script src="/assets/jquery/dist/jquery.min.js"></script>

    {{!-- Materialize Script. --}}
    <script src="/assets/materialize/dist/js/materialize.min.js"></script>

    {{!-- The main script. --}}
    <script src="/assets/js/main.js"></script>
</body>

</html>