<!DOCTYPE html>

<html lang="ar">

<head>

	{{!-- Meta data. --}}
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<meta name="author" content="EOussama">
	<meta name="application-name" content="Supplements Maroc">
	<meta name="description" content="Online store for selling workout-related protein products.">
	<meta name="keywords" content="store, e-commerce">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	{{!-- FontAwesome. --}}
	<link rel="stylesheet" href="/assets/@fortawesome/fontawesome-free/css/all.min.css">

	{{!-- Materialize Stylesheet. --}}
	<link rel="stylesheet" href="/assets/materialize-css/dist/css/materialize.min.css">

	{{!-- Material Icons. --}}
	<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

	{{!-- The main stylesheet. --}}
	<link rel="stylesheet" href="/assets/css/main.css">

	{{!-- JQuery Script. --}}
	<script src="/assets/jquery/dist/jquery.min.js"></script>

	{{!-- Materialize Script. --}}
	<script src="/assets/materialize-css/dist/js/materialize.min.js"></script>

	{{!-- The main script. --}}
	<script src="/assets/js/main.js"></script>

	{{!-- The contact script. --}}
	<script src="/assets/js/contact.js"></script>

	{{!-- The cart script --}}
	<script src="/assets/js/cart.js"></script>

	{{!-- The title. --}}
	<title>Supplements Maroc</title>
</head>

<body class="loading">
	{{!-- The loader --}}
	{{> loader }}

	{{!-- The nav's partial. --}}
	{{> nav }}

	{{!-- Contact Modal. --}}
	{{> contact }}

	{{!-- The cart modal --}}
	{{> cart }}

	{{!-- Scroll back to top button. --}}
	<a href="javascript:void(0)" id="scroll-to-top" title="Scroll to top" class="visible scroll-to-top">
		<i class="fas fa-chevron-up fa-2x"></i>
	</a>

	{{!-- The main content of the page. --}}
	<main>
		{{{body}}}
	</main>

	{{!-- The footer's partial. --}}
	{{> footer }}

	{{!-- The sidebar menu --}}
	{{> sidebar NewMail=Data.NewMail }}

</body>

</html>
