<!DOCTYPE html>

<html lang="en">

<head>

    {{!-- Meta data. --}}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="author" content="EOussama">
    <meta name="application-name" content="Supplements Maroc">
    <meta name="description" content="Online store for selling workout-related protein products.">
    <meta name="keywords" content="store, e-commerce">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {{!-- The favicon. --}}
    <link rel="icon" href="/assets/img/favicon.png">

    {{!-- FontAwesome. --}}
    <link rel="stylesheet" href="/assets/fontawesome/css/all.min.css">

    {{!-- Materialize Stylesheet. --}}
    <link rel="stylesheet" href="/assets/materialize/dist/css/materialize.min.css">

    {{!-- The main stylesheet. --}}
    <link rel="stylesheet" href="/assets/css/main.css">

    {{!-- The title. --}}
    <title>Supplements Maroc</title>
</head>

<body>

    {{!-- The navbar. --}}
    <div class="navbar-fixed">
        <nav class="nav-extended grey darken-4">
            <div class="nav-wrapper container">
                <a class="left" href="javascript:void(0)">
                    <i class="material-icons"></i>
                </a>
                <a class="right" href="javascript:void(0)">
                    <i class="fa fa-phone nav-phone nav-icon"></i>
                    <b>06123456789</b>
                </a>
            </div>
            <nav class="grey darken-3">
                <div class="nav-wrapper container">
                    <a href="#" class="brand-logo">Supplements Maroc</a>
                    <ul id="nav-mobile" class="right hide-on-med-and-down">
                        <li><a href="/">Home</a></li>
                        <li><a href="/search">Search</a></li>
                        <li><a href="javascript:void(0)">About Us</a></li>
                        <li><a href="javascript:void(0)"><i class="fa fa-shopping-cart nav-icon"></i></a></li>
                        <li><a href="javascript:void(0)"><i class="fa fa-cog nav-icon"></i></a></li>
                    </ul>
                </div>
            </nav>
        </nav>
    </div>

    {{!-- The main content of the page. --}}
    <main>
        {{{body}}}
    </main>

    {{!-- The footer's partial. --}}
    <footer class="page-footer grey darken-3">
        <div class="container">
            <div class="row">
                <div class="col l6 s12">
                    <h5 class="white-text">About Us</h5>
                    <p class="grey-text text-lighten-4">You can use rows and columns here to organize your footer
                        content.</p>
                </div>
                <div class="col l4 offset-l2 s12">
                    <h5 class="white-text">Links</h5>
                    <ul>
                        <li><a class="grey-text text-lighten-3" href="#!">Link 1</a></li>
                        <li><a class="grey-text text-lighten-3" href="#!">Link 2</a></li>
                        <li><a class="grey-text text-lighten-3" href="#!">Link 3</a></li>
                        <li><a class="grey-text text-lighten-3" href="#!">Link 4</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="footer-copyright grey darken-4">
            <div class="container">
                <b>Supplements Maroc</b> &copy; {{date}}
            </div>
        </div>
    </footer>

    {{!-- JQuery Script. --}}
    <script src="/assets/jquery/dist/jquery.min.js"></script>

    {{!-- Materialize Script. --}}
    <script src="/assets/materialize/dist/js/materialize.min.js"></script>

    {{!-- The main script. --}}
    <script src="/assets/js/main.js"></script>
</body>

</html>