<section class="error-section">
    <div class="error-content grey lighten-3 z-depth-1">
        <div class="row">
            <h2><i class="fa fa-exclamation-triangle fa-sm"></i> Error 404</h2>
        </div>
        <div class="row">
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Enim, rem.</p>
        </div>
        <div class="row">
            <div class="col s6"><a class="waves-effect waves-light grey darken-3 btn btn-large back-btn">Go Back</a>
            </div>
            <div class="col s6"><a class="waves-effect waves-light grey darken-3 btn btn-large" href="/">Home</a></div>
        </div>
    </div>
</section>