<section class="error-section">
    <div class="grey lighten-3 z-depth-1 error-section__content">
        <div class="row">
            <h2><i class="fa fa-exclamation-triangle fa-sm"></i>Error 404</h2>
        </div>
        <div class="row">
            <p>هذه الصفحة غير موجودة</p>
        </div>
        <div class="row">
            <div class="col s6"><a class="waves-effect waves-light grey darken-3 btn btn-large back-btn">عد للصفحة
                    السابقة</a>
            </div>
            <div class="col s6"><a class="waves-effect waves-light grey darken-3 btn btn-large" href="/">الصفحة
                    الرئيسية</a></div>
        </div>
    </div>
</section>