{{!-- The carousel0 --}}
<div class="carousel carousel-slider center">
    <div class="carousel-fixed-item center">
        <a class="btn waves-effect white grey-text darken-text-2">Buy</a>
    </div>
    <div class="carousel-item grey darken-1 white-text" href="#one!">
        <h2>First Panel</h2>
        <p class="white-text">This is your first panel</p>
    </div>
    <div class="carousel-item grey darken-1 white-text" href="#two!">
        <h2>Second Panel</h2>
        <p class="white-text">This is your second panel</p>
    </div>
    <div class="carousel-item grey darken-1 white-text" href="#three!">
        <h2>Third Panel</h2>
        <p class="white-text">This is your third panel</p>
    </div>
    <div class="carousel-item grey darken-1 white-text" href="#four!">
        <h2>Fourth Panel</h2>
        <p class="white-text">This is your fourth panel</p>
    </div>
</div>

{{!-- The search section. --}}
<section class="search-section z-depth-2">

    <div class="search-section-content">
        <h4 class="search-heading">Lorem ipsum dolor sit amet consectetur.</h4>

        <div class="row search-box">
            <div class="col s12">
                <div class="row">
                    <div class="input-field col s12 z-depth-1 search-field">
                        <input type="search" id="autocomplete-input" class="autocomplete"
                            placeholder="Search for a product...">
                    </div>
                </div>
            </div>
        </div>

        <a class="btn-floating btn-large grey pulse">
            <i class="fa fa-search"></i>
        </a>
    </div>

    <div class="search-background"></div>
</section>

{{!-- Top sold section. --}}
<section class="product-carousel top-sold grey lighten-3 z-depth-2">
    <div class="row container">
        <div class="col s12">
            <h4>
                <span>Top sold products</span>
                <a class="waves-effect waves-light btn all-products right"><i class="fa fa-list"></i> all products</a>
            </h4>
        </div>
    </div>
    <div class="row container">
        <div class="col s4">
            <div class="card horizontal">
                <div class="card-image">
                    <img
                        src="https://cdn.muscleandstrength.com/store/media/mnsresized/promos/accef2/120/0/mega_pre_black_ps_front3.jpg">
                </div>
                <div class="card-stacked">
                    <div class="card-content">
                        <span class="card-title"><b>Primeval Labs Mega Pre Blacke</b></span>
                        <div class="price-tag">
                            <div class="price">
                                <span class="grey-text">290.00 DH</span>
                                <span>145.00 DH</span>
                            </div>
                            <div class="discount green">
                                <span>-50%</span>
                                <span>Off</span>
                            </div>
                        </div>
                    </div>
                    <div class="card-action">
                        <a href="javascript:void(0)">Buy</a>
                        <a href="javascript:void(0)" title="Add to cart">
                            <i class="fa fa-cart-plus"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col s4">
            <div class="card horizontal">
                <div class="card-image">
                    <img
                        src="https://cdn.muscleandstrength.com/store/media/mnsresized/promos/9c9815/120/0/aminocore111_br_1.jpg">
                </div>
                <div class="card-stacked">
                    <div class="card-content">
                        <span class="card-title"><b>AllMax Nutrition AminoCore</b></span>
                        <div class="price-tag">
                            <div class="price">
                                <span class="grey-text">699.00 DH</span>
                                <span>174.75 DH</span>
                            </div>
                            <div class="discount green">
                                <span>-75%</span>
                                <span>Off</span>
                            </div>
                        </div>
                    </div>
                    <div class="card-action">
                        <a href="javascript:void(0)">Buy</a>
                        <a href="javascript:void(0)" title="Add to cart">
                            <i class="fa fa-cart-plus"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col s4">
            <div class="card horizontal">
                <div class="card-image">
                    <img
                        src="https://cdn.muscleandstrength.com/store/media/mnsresized/promos/d7946c/120/0/us_gsisolate_44srv_bdaycake.jpg">
                </div>
                <div class="card-stacked">
                    <div class="card-content">
                        <span class="card-title"><b>Optimum Nutrition Gold Standard 100% Isolate</b></span>
                        <div class="price-tag">
                            <div class="price">
                                <span class="grey-text">459.00 DH</span>
                                <span>344.25 DH</span>
                            </div>
                            <div class="discount green">
                                <span>-25%</span>
                                <span>Off</span>
                            </div>
                        </div>
                    </div>
                    <div class="card-action">
                        <a href="javascript:void(0)">Buy</a>
                        <a href="javascript:void(0)" title="Add to cart">
                            <i class="fa fa-cart-plus"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row container">
        <div class="col s4">
            <div class="card horizontal">
                <div class="card-image">
                    <img
                        src="https://cdn.muscleandstrength.com/store/media/mnsresized/promos/f8a9b4/120/0/cla-plus-carnitine-snow-cone_1_1.jpg">
                </div>
                <div class="card-stacked">
                    <div class="card-content">
                        <span class="card-title"><b>BPI Sports CLA + Carnitine</b></span>
                        <div class="price-tag">
                            <div class="price">
                                <span class="grey-text">346.00 DH</span>
                                <span>121.10 DH</span>
                            </div>
                            <div class="discount green">
                                <span>-65%</span>
                                <span>Off</span>
                            </div>
                        </div>
                    </div>
                    <div class="card-action">
                        <a href="javascript:void(0)">Buy</a>
                        <a href="javascript:void(0)" title="Add to cart">
                            <i class="fa fa-cart-plus"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col s4">
            <div class="card horizontal">
                <div class="card-image">
                    <img
                        src="https://cdn.muscleandstrength.com/store/media/mnsresized/promos/c05dc8/120/0/outliftfpv4-lg_1_2.jpg">
                </div>
                <div class="card-stacked">
                    <div class="card-content">
                        <span class="card-title"><b>Nutrex Outlift</b></span>
                        <div class="price-tag">
                            <div class="price">
                                <span class="grey-text">563.00 DH</span>
                                <span>422.25 DH</span>
                            </div>
                            <div class="discount green">
                                <span>-25%</span>
                                <span>Off</span>
                            </div>
                        </div>
                    </div>
                    <div class="card-action">
                        <a href="javascript:void(0)">Buy</a>
                        <a href="javascript:void(0)" title="Add to cart">
                            <i class="fa fa-cart-plus"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col s4">
            <div class="card horizontal">
                <div class="card-image">
                    <img
                        src="https://cdn.muscleandstrength.com/store/media/mnsresized/promos/128784/120/0/man_iso-amino_90serv_sb-sm_1.jpg">
                </div>
                <div class="card-stacked">
                    <div class="card-content">
                        <span class="card-title"><b>MAN Sports ISO-Amino</b></span>
                        <div class="price-tag">
                            <div class="price">
                                <span class="grey-text">723.00 DH</span>
                                <span>144.60 DH</span>
                            </div>
                            <div class="discount green">
                                <span>-80%</span>
                                <span>Off</span>
                            </div>
                        </div>
                    </div>
                    <div class="card-action">
                        <a href="javascript:void(0)">Buy</a>
                        <a href="javascript:void(0)" title="Add to cart">
                            <i class="fa fa-cart-plus"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row container">
        <div class="col s4">
            <div class="card horizontal">
                <div class="card-image">
                    <img
                        src="https://cdn.muscleandstrength.com/store/media/mnsresized/promos/f8a9b4/120/0/cla-plus-carnitine-snow-cone_1_1.jpg">
                </div>
                <div class="card-stacked">
                    <div class="card-content">
                        <span class="card-title"><b>BPI Sports CLA + Carnitine</b></span>
                        <div class="price-tag">
                            <div class="price">
                                <span class="grey-text">346.00 DH</span>
                                <span>121.10 DH</span>
                            </div>
                            <div class="discount green">
                                <span>-65%</span>
                                <span>Off</span>
                            </div>
                        </div>
                    </div>
                    <div class="card-action">
                        <a href="javascript:void(0)">Buy</a>
                        <a href="javascript:void(0)" title="Add to cart">
                            <i class="fa fa-cart-plus"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col s4">
            <div class="card horizontal">
                <div class="card-image">
                    <img
                        src="https://cdn.muscleandstrength.com/store/media/mnsresized/promos/c05dc8/120/0/outliftfpv4-lg_1_2.jpg">
                </div>
                <div class="card-stacked">
                    <div class="card-content">
                        <span class="card-title"><b>Nutrex Outlift</b></span>
                        <div class="price-tag">
                            <div class="price">
                                <span class="grey-text">563.00 DH</span>
                                <span>422.25 DH</span>
                            </div>
                            <div class="discount green">
                                <span>-25%</span>
                                <span>Off</span>
                            </div>
                        </div>
                    </div>
                    <div class="card-action">
                        <a href="javascript:void(0)">Buy</a>
                        <a href="javascript:void(0)" title="Add to cart">
                            <i class="fa fa-cart-plus"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col s4">
            <div class="card horizontal">
                <div class="card-image">
                    <img
                        src="https://cdn.muscleandstrength.com/store/media/mnsresized/promos/128784/120/0/man_iso-amino_90serv_sb-sm_1.jpg">
                </div>
                <div class="card-stacked">
                    <div class="card-content">
                        <span class="card-title"><b>MAN Sports ISO-Amino</b></span>
                        <div class="price-tag">
                            <div class="price">
                                <span class="grey-text">723.00 DH</span>
                                <span>144.60 DH</span>
                            </div>
                            <div class="discount green">
                                <span>-80%</span>
                                <span>Off</span>
                            </div>
                        </div>
                    </div>
                    <div class="card-action">
                        <a href="javascript:void(0)">Buy</a>
                        <a href="javascript:void(0)" title="Add to cart">
                            <i class="fa fa-cart-plus"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{{!-- Newest products section. --}}
<section class="product-carousel newest-products grey lighten-3 z-depth-2">
    <div class="row container">
        <div class="col s12">
            <h4>
                <span>Newest products</span>
                <a class="waves-effect waves-light btn all-products right"><i class="fa fa-list"></i> all products</a>
            </h4>
        </div>
    </div>
    <div class="row container">
        <div class="col s4">
            <div class="card horizontal">
                <div class="card-image">
                    <img
                        src="https://cdn.muscleandstrength.com/store/media/mnsresized/promos/accef2/120/0/mega_pre_black_ps_front3.jpg">
                </div>
                <div class="card-stacked">
                    <div class="card-content">
                        <span class="card-title"><b>Primeval Labs Mega Pre Blacke</b></span>
                        <div class="price-tag">
                            <div class="price">
                                <span class="grey-text">290.00 DH</span>
                                <span>145.00 DH</span>
                            </div>
                            <div class="discount green">
                                <span>-50%</span>
                                <span>Off</span>
                            </div>
                        </div>
                    </div>
                    <div class="card-action">
                        <a href="javascript:void(0)">Buy</a>
                        <a href="javascript:void(0)" title="Add to cart">
                            <i class="fa fa-cart-plus"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col s4">
            <div class="card horizontal">
                <div class="card-image">
                    <img
                        src="https://cdn.muscleandstrength.com/store/media/mnsresized/promos/9c9815/120/0/aminocore111_br_1.jpg">
                </div>
                <div class="card-stacked">
                    <div class="card-content">
                        <span class="card-title"><b>AllMax Nutrition AminoCore</b></span>
                        <div class="price-tag">
                            <div class="price">
                                <span class="grey-text">699.00 DH</span>
                                <span>174.75 DH</span>
                            </div>
                            <div class="discount green">
                                <span>-75%</span>
                                <span>Off</span>
                            </div>
                        </div>
                    </div>
                    <div class="card-action">
                        <a href="javascript:void(0)">Buy</a>
                        <a href="javascript:void(0)" title="Add to cart">
                            <i class="fa fa-cart-plus"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col s4">
            <div class="card horizontal">
                <div class="card-image">
                    <img
                        src="https://cdn.muscleandstrength.com/store/media/mnsresized/promos/d7946c/120/0/us_gsisolate_44srv_bdaycake.jpg">
                </div>
                <div class="card-stacked">
                    <div class="card-content">
                        <span class="card-title"><b>Optimum Nutrition Gold Standard 100% Isolate</b></span>
                        <div class="price-tag">
                            <div class="price">
                                <span class="grey-text">459.00 DH</span>
                                <span>344.25 DH</span>
                            </div>
                            <div class="discount green">
                                <span>-25%</span>
                                <span>Off</span>
                            </div>
                        </div>
                    </div>
                    <div class="card-action">
                        <a href="javascript:void(0)">Buy</a>
                        <a href="javascript:void(0)" title="Add to cart">
                            <i class="fa fa-cart-plus"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row container">
        <div class="col s4">
            <div class="card horizontal">
                <div class="card-image">
                    <img
                        src="https://cdn.muscleandstrength.com/store/media/mnsresized/promos/f8a9b4/120/0/cla-plus-carnitine-snow-cone_1_1.jpg">
                </div>
                <div class="card-stacked">
                    <div class="card-content">
                        <span class="card-title"><b>BPI Sports CLA + Carnitine</b></span>
                        <div class="price-tag">
                            <div class="price">
                                <span class="grey-text">346.00 DH</span>
                                <span>121.10 DH</span>
                            </div>
                            <div class="discount green">
                                <span>-65%</span>
                                <span>Off</span>
                            </div>
                        </div>
                    </div>
                    <div class="card-action">
                        <a href="javascript:void(0)">Buy</a>
                        <a href="javascript:void(0)" title="Add to cart">
                            <i class="fa fa-cart-plus"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col s4">
            <div class="card horizontal">
                <div class="card-image">
                    <img
                        src="https://cdn.muscleandstrength.com/store/media/mnsresized/promos/c05dc8/120/0/outliftfpv4-lg_1_2.jpg">
                </div>
                <div class="card-stacked">
                    <div class="card-content">
                        <span class="card-title"><b>Nutrex Outlift</b></span>
                        <div class="price-tag">
                            <div class="price">
                                <span class="grey-text">563.00 DH</span>
                                <span>422.25 DH</span>
                            </div>
                            <div class="discount green">
                                <span>-25%</span>
                                <span>Off</span>
                            </div>
                        </div>
                    </div>
                    <div class="card-action">
                        <a href="javascript:void(0)">Buy</a>
                        <a href="javascript:void(0)" title="Add to cart">
                            <i class="fa fa-cart-plus"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col s4">
            <div class="card horizontal">
                <div class="card-image">
                    <img
                        src="https://cdn.muscleandstrength.com/store/media/mnsresized/promos/128784/120/0/man_iso-amino_90serv_sb-sm_1.jpg">
                </div>
                <div class="card-stacked">
                    <div class="card-content">
                        <span class="card-title"><b>MAN Sports ISO-Amino</b></span>
                        <div class="price-tag">
                            <div class="price">
                                <span class="grey-text">723.00 DH</span>
                                <span>144.60 DH</span>
                            </div>
                            <div class="discount green">
                                <span>-80%</span>
                                <span>Off</span>
                            </div>
                        </div>
                    </div>
                    <div class="card-action">
                        <a href="javascript:void(0)">Buy</a>
                        <a href="javascript:void(0)" title="Add to cart">
                            <i class="fa fa-cart-plus"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row container">
        <div class="col s4">
            <div class="card horizontal">
                <div class="card-image">
                    <img
                        src="https://cdn.muscleandstrength.com/store/media/mnsresized/promos/f8a9b4/120/0/cla-plus-carnitine-snow-cone_1_1.jpg">
                </div>
                <div class="card-stacked">
                    <div class="card-content">
                        <span class="card-title"><b>BPI Sports CLA + Carnitine</b></span>
                        <div class="price-tag">
                            <div class="price">
                                <span class="grey-text">346.00 DH</span>
                                <span>121.10 DH</span>
                            </div>
                            <div class="discount green">
                                <span>-65%</span>
                                <span>Off</span>
                            </div>
                        </div>
                    </div>
                    <div class="card-action">
                        <a href="javascript:void(0)">Buy</a>
                        <a href="javascript:void(0)" title="Add to cart">
                            <i class="fa fa-cart-plus"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col s4">
            <div class="card horizontal">
                <div class="card-image">
                    <img
                        src="https://cdn.muscleandstrength.com/store/media/mnsresized/promos/c05dc8/120/0/outliftfpv4-lg_1_2.jpg">
                </div>
                <div class="card-stacked">
                    <div class="card-content">
                        <span class="card-title"><b>Nutrex Outlift</b></span>
                        <div class="price-tag">
                            <div class="price">
                                <span class="grey-text">563.00 DH</span>
                                <span>422.25 DH</span>
                            </div>
                            <div class="discount green">
                                <span>-25%</span>
                                <span>Off</span>
                            </div>
                        </div>
                    </div>
                    <div class="card-action">
                        <a href="javascript:void(0)">Buy</a>
                        <a href="javascript:void(0)" title="Add to cart">
                            <i class="fa fa-cart-plus"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col s4">
            <div class="card horizontal">
                <div class="card-image">
                    <img
                        src="https://cdn.muscleandstrength.com/store/media/mnsresized/promos/128784/120/0/man_iso-amino_90serv_sb-sm_1.jpg">
                </div>
                <div class="card-stacked">
                    <div class="card-content">
                        <span class="card-title"><b>MAN Sports ISO-Amino</b></span>
                        <div class="price-tag">
                            <div class="price">
                                <span class="grey-text">723.00 DH</span>
                                <span>144.60 DH</span>
                            </div>
                            <div class="discount green">
                                <span>-80%</span>
                                <span>Off</span>
                            </div>
                        </div>
                    </div>
                    <div class="card-action">
                        <a href="javascript:void(0)">Buy</a>
                        <a href="javascript:void(0)" title="Add to cart">
                            <i class="fa fa-cart-plus"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{{!-- Extra information cards --}}
<section class="container extra-info">
    <div class="row">
        <div class="col s6">
            <div class="card-panel grey-text text-darken-3 extra-info-card">
                <h3>Lorem, ipsum dolor.</h3>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Labore libero voluptatum, porro aspernatur
                    fuga adipisci.</p>
                <div class="row extra-info-content">
                    <div class="col s6">
                        <i class="fa fa-shipping-fast fa-4x"></i>
                    </div>
                    <div class="col s6">
                        <p class="right-align"><b>Lorem ipsum dolor sit amet.</b></p>
                        <p class="right-align yellow-text text-darken-2"><span>1,000.00 DH</span></p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col s6">
            <div class="card-panel grey darken-3 white-text extra-info-card">
                <h3>Lorem, ipsum dolor.</h3>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Labore libero voluptatum, porro aspernatur
                    fuga adipisci.</p>
                <div class="row extra-info-content">
                    <div class="col s6">
                        <i class="fa fa-hand-holding-usd fa-4x"></i>
                    </div>
                    <div class="col s6">
                        <p class="right-align"><b>Lorem ipsum dolor sit amet.</b></p>
                        <p class="right-align yellow-text text-darken-2"><span>49.00 DH</span></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{{!-- Brands section --}}
<section class="product-carousel brands-section grey lighten-3 z-depth-2">
    <div class="row container">
        <div class="col s12">
            <h4>
                <span>Top brands</span>
                <a class="waves-effect waves-light btn all-products right"><i class="fa fa-list"></i> all brands</a>
            </h4>
        </div>
    </div>
    <div class="row container">
        <div class="carousel brand-carousel">
            <a class="carousel-item"><img
                    src="https://cdn.muscleandstrength.com/store/media/mnsresized/aitmanufacturers/fce56a/250/180/53.jpg"
                    alt=""></a>
            <a class="carousel-item"><img
                    src="https://cdn.muscleandstrength.com/store/media/mnsresized/aitmanufacturers/d494c1/250/180/59.jpg"
                    alt=""></a>
            <a class="carousel-item"><img
                    src="https://cdn.muscleandstrength.com/store/media/mnsresized/aitmanufacturers/302b12/250/180/95.jpg"
                    alt=""></a>
            <a class="carousel-item"><img
                    src="https://cdn.muscleandstrength.com/store/media/mnsresized/aitmanufacturers/853c19/250/180/137.jpg"
                    alt=""></a>
            <a class="carousel-item"><img
                    src="https://cdn.muscleandstrength.com/store/media/mnsresized/aitmanufacturers/b7138b/250/180/5.jpg"
                    alt=""></a>
            <a class="carousel-item"><img
                    src="https://cdn.muscleandstrength.com/store/media/mnsresized/aitmanufacturers/8eb610/250/180/71.jpg"
                    alt=""></a>
            <a class="carousel-item"><img
                    src="https://cdn.muscleandstrength.com/store/media/mnsresized/aitmanufacturers/486895/250/180/18.jpg"
                    alt=""></a>
            <a class="carousel-item"><img
                    src="https://cdn.muscleandstrength.com/store/media/mnsresized/aitmanufacturers/0b6f80/250/180/140.jpg"
                    alt=""></a>
            <a class="carousel-item"><img
                    src="https://cdn.muscleandstrength.com/store/media/mnsresized/aitmanufacturers/595d16/250/180/57.jpg"
                    alt=""></a>
            <a class="carousel-item"><img
                    src="https://cdn.muscleandstrength.com/store/media/mnsresized/aitmanufacturers/adba40/250/180/278.jpg"
                    alt=""></a>
            <a class="carousel-item"><img
                    src="https://cdn.muscleandstrength.com/store/media/mnsresized/aitmanufacturers/eb94d9/250/180/17.jpg"
                    alt=""></a>
            <a class="carousel-item"><img
                    src="https://cdn.muscleandstrength.com/store/media/mnsresized/aitmanufacturers/bf88b7/250/180/285.png"
                    alt=""></a>
        </div>
    </div>
</section>