{{!-- The carousel0 --}}
<div class="carousel carousel-slider center">
    <div class="carousel-fixed-item center">
        <a class="btn waves-effect white grey-text darken-text-2">Buy</a>
    </div>
    <div class="carousel-item grey darken-1 white-text" href="#one!">
        <h2>First Panel</h2>
        <p class="white-text">This is your first panel</p>
    </div>
    <div class="carousel-item grey darken-1 white-text" href="#two!">
        <h2>Second Panel</h2>
        <p class="white-text">This is your second panel</p>
    </div>
    <div class="carousel-item grey darken-1 white-text" href="#three!">
        <h2>Third Panel</h2>
        <p class="white-text">This is your third panel</p>
    </div>
    <div class="carousel-item grey darken-1 white-text" href="#four!">
        <h2>Fourth Panel</h2>
        <p class="white-text">This is your fourth panel</p>
    </div>
</div>

{{!-- The scrolling section. --}}
<section class="scroll-down-section">

    <div class="scroll-down-section-content">
        <h3 class="scroll-down-heading">Lorem ipsum dolor sit amet.</h3>
        <a class="btn-floating btn-large grey pulse">
            <i class="fa fa-caret-down fa-10x"></i>
        </a>
    </div>
    
    <div class="scroll-down-background"></div>
</section>