{{!-- The carousel0 --}}
<div class="carousel carousel-slider center">
    <div class="carousel-fixed-item center">
        <a class="btn waves-effect white grey-text darken-text-2">Buy</a>
    </div>
    <div class="carousel-item grey darken-1 white-text" href="#one!">
        <h2>First Panel</h2>
        <p class="white-text">This is your first panel</p>
    </div>
    <div class="carousel-item grey darken-1 white-text" href="#two!">
        <h2>Second Panel</h2>
        <p class="white-text">This is your second panel</p>
    </div>
    <div class="carousel-item grey darken-1 white-text" href="#three!">
        <h2>Third Panel</h2>
        <p class="white-text">This is your third panel</p>
    </div>
    <div class="carousel-item grey darken-1 white-text" href="#four!">
        <h2>Fourth Panel</h2>
        <p class="white-text">This is your fourth panel</p>
    </div>
</div>

{{!-- The scrolling section. --}}
<section class="search-section">

    <div class="search-section-content">
        <h4 class="search-heading">Lorem ipsum dolor sit amet consectetur.</h4>

        <div class="row search-box">
            <div class="col s12">
                <div class="row">
                    <div class="input-field col s12 z-depth-1 search-field">
                        <input type="search" id="autocomplete-input" class="autocomplete" placeholder="Search for a product...">
                    </div>
                </div>
            </div>
        </div>

        <a class="btn-floating btn-large grey darken-2 pulse">
            <i class="fa fa-search"></i>
        </a>
    </div>

    <div class="search-background"></div>
</section>