/**
	Carousel - Styling rules for the carousel component.
*/

@charset 'utf-8';

.carousel {
	height: 700px;
	margin-top: 60px;

	@media screen and (max-width: $break-point--tablet) {
		margin-top: 56px;
	}

	&.carousel-slider {
		img {
			height: 100%;
		}
	}

	&.carousel--brands {
		cursor: pointer;
		height: 350px;
	}
}
