/**
    Contact-modal - Styling rules for the contact-modal component.
*/

@charset 'utf-8';

.category-dropdown {
  padding: 10px 20px;

  li {
    &:hover {
      background-color: transparent;
    }

    a {
      color: $color-light--dark !important;
      
      &:hover {
        background-color: $color-dark;
      }
  
    }
  }

  h6 {
    color: $color-light;
    margin-bottom: 20px;
    padding: 15px 5px;

    &:hover {
      color: $color-light--light;
      background-color: $color-dark;
    }
  }

  *:focus {
    outline: none;
  }
}
