/**
	Dashboard-dropdown - Styling rules for the dashboard-dropdown component.
*/

@charset 'utf-8';

#dashboard-dropdown {
  overflow: initial;
  width: 250px;

  &.loggedin {
    &::after {
      border-bottom: 20px solid $color-light--light;
      border-left: 15px solid transparent;
      border-right: 15px solid transparent;
      content: '';
      height: 0;
      position: absolute;
      top: -20px;
      width: 0;
    }

    @media screen and (min-width: 1236px) {
      &::after {
        left: 10px;
      }
    }

    @media screen and (max-width: 1236px) {
      &::after {
        right: 10px;
      }
    }
  }

  li {
    text-align: right;

    .fa,
    .fas,
    .fab {
      margin-left: 10px;
    }
  }

  * {
    border: none;

    &:focus {
      outline: none;
    }
  }
}
