/**
	Footer - Styling rules for the footer component.
*/

@charset 'utf-8';

.footer {
	&__contact {
		.contact-list {
			.contact-list__item {
				margin-bottom: 15px;
				text-align: right;

				.contact-list__icon {
					margin-left: 15px;
				}
			}
		}
	}

	&__copyright {
		padding: 10px 0;
		margin-bottom: 0;
	}

	&__shipping {
		.label {
			margin-left: 10px;
		}

		.logo {
			border-radius: 6px;
			filter: grayscale(60%);
			transition-duration: 0.3s;
			transition-property: filter;

			&:hover {
				filter: grayscale(10%);
			}
		}
	}

	@media screen and (max-width: $break-point--tablet) {
		&__extra,
		&__content,
		&__content .contact-list .contact-list__item,
		&__content h5,
		&__content p,
		&__copyright {
			text-align: center;
		}

		&__copyright {
			padding: 0;
			margin-bottom: 0;
		}
	}

	@media screen and (max-width: $break-point--desktop) {
		&__content &__contact-list {
			text-align: center;
		}
	}
}
