/**
	Nav - Styling rules for the nav component.
*/

@charset 'utf-8';

.navbar-fixed {
  .nav-icon {
    font-size: 20px;
  }

  .brand-logo {
    margin-left: 13px;
  }

  .nav-social {
    opacity: 0.3;
    transition-duration: 0.3s;
    transition-property: opacity;

    &:hover {
      opacity: 0.8;
    }

    &:not(:first-of-type) {
      margin-right: 20px;
    }
  }

  .nav-phone {
    font-size: 18px;
    margin-right: 8px;
  }

  .cart-button {
    padding-right: 0;

    .cart-button__badge {
      border-radius: 50%;
      font-weight: bold;
      padding: 2px 6px;
      position: relative;
      right: 12px;
      top: -12px;
    }
  }

  .dropdown-trigger:focus {
    outline: none;
  }

  nav.hide-on-large-only {
    height: 56px !important;
  }

  .small-screen-nav {
    display: flex;
    flex-direction: row;
    height: 56px;
    width: 100%;

    .cart-section {
      width: 70px !important;
    }

    .search-field {
      width: 100%;

      .input-field {
        display: flex;
        flex-direction: row;
        align-items: center;
        width: 100%;

        i {
          font-size: 30px;
          font-weight: bold;
          width: 50px;
        }

        .autocomplete {
          color: $color-light;
          font-size: 20px;

          &:active,
          &:focus {
            border: none;
            box-shadow: none;
          }
        }

        ul {
          background-color: darken($color-light--dark, 30);
          top: 56px !important;
          width: 100% !important;

          li {
            &:hover {
              background-color: darken($color-light--dark, 25);
            }

            span {
              color: $color-light !important;

              .highlight {
                color: $color-light--light !important;
                font-weight: bold;
              }
            }
          }
        }
      }
    }
  }

  .search-navbar {
    display: none;

    input {
      background-color: darken($color-light--dark, 40) !important;
      color: $color-light !important;
      font-size: 20px;
      height: 64px !important;
    }

    label i {
      font-size: 30px;
      font-weight: bold;
      text-align: center;
      position: relative;
      width: 50px;
      top: -11px;
    }

    ul {
      background-color: darken($color-light--dark, 40);
      top: 56px !important;
      width: 100% !important;

      li {
        &:hover {
          background-color: darken($color-light--dark, 35);
        }

        span {
          color: $color-light !important;

          .highlight {
            color: $color-light--light !important;
            font-weight: bold;
          }
        }
      }
    }
  }

  ul.sidenav {
    .fa,
    .fas {
      margin-left: 10px;
    }
  }
}
