/**
	Product-showcase - Styling rules for the product-showcase component.
*/

@charset 'utf-8';

.products-showcase {
	height: auto;
	margin-top: 350px;
	padding: 30px 0 50px 0;

	&:first-of-type {
		margin-top: 70px;
	}
}
