.login-section {
	.login-content {
		margin: 200px auto;
		padding: 50px 40px;
		width: 500px;

		img {
			margin: 50px 0;
			width: 300px;
		}

		.btn {
			position: relative;
			width: 100%;
		}
	}

	@media screen and (max-width: $break-point--tablet) {
		.btn[type='submit'] {
			margin-bottom: 20px;
		}
	}

	@media screen and (max-width: $break-point--phone) {
		.login-content {
            margin: 100px auto;
            width: auto;
            
            img {
                width: 100%;
            }
		}
	}
}
