<section class="container product-section">
    <div class="row">
        <div class="product-main col s8 grey lighten-3 z-depth-2">
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Earum dolorum magni, eos veniam atque sint
                quidem odit dolores modi perspiciatis nemo ipsum nostrum nesciunt, veritatis incidunt mollitia?
                Consequatur, nemo temporibus?</p>
        </div>
        <div class="product-side col s3 offset-s1 grey lighten-3 z-depth-2">
            <img src="{{ Data.Product.NutritionInfo }}" alt="Nutrition Info.">
        </div>
    </div>
</section>