<section class="container products-section">
	<div class="row grey lighten-3 z-depth-2 products-section__search">
		<div class="col s12">

		</div>
	</div>
	<div class="row products-section__list">

	</div>
</section>