/**
	Pulse - Styling rules for the pulse animation.
*/

@charset 'utf-8';

@keyframes pulse {
  from {
    opacity: 1;
    transform: scale(1);
  }

  to {
    opacity: 0.5;
    transform: scale(0.99);
  }
}
