/**
    Colors - The file that holds color definitions.
*/

@charset 'utf-8';

// Dark colors.
$color-dark: #2e2e2e;
$color-dark-dark: #212121;
$color-dark-light: #4b515d;

// Light colors.
$color-light: #e6e6e6;
$color-light-dark: #adadad;
$color-light-light: #ffffff;
