/**
    Colors - The file that holds color definitions.
*/

@charset 'utf-8';

// Dark colors.
$color-dark: #2e2e2e !default;
$color-dark--dark: #212121 !default;
$color-dark--light: #4b515d !default;

// Light colors.
$color-light: #e6e6e6 !default;
$color-light--dark: #adadad !default;
$color-light--light: #ffffff !default;
