/**
    Dimentions - The file that has all dimention-related definition, everything, from
    break-points to height and width definitions.
*/

@charset 'utf-8';

// Break-points.
$break-point--phone: 600px;
$break-point--tablet: 992px;
$break-point--desktop: 1200px;
