/**
    Error - The error page's styling rules.
*/

@charset 'utf-8';

.error-section {
	height: 700px;
	padding-top: 150px;

	&__content {
		margin: auto;
		padding: 70px 40px;
		text-align: center;
		width: 500px;

		.fa {
			margin-right: 15px;
		}

		.error-section__btn {
			position: relative;
			width: 100%;
		}
	}

	@media screen and (max-width: $break-point--tablet) {
		padding: 80px 10px 0 10px;
		&__content {
			padding: 40px 20px;

			.error-section__btn {
				margin-bottom: 20px;
			}
		}
	}

	@media screen and (max-width: $break-point--phone) {

		&__content {
			margin: auto;
			width: auto;
		}
	}
}
