/**
    Error - The error page's styling rules.
*/

@charset 'utf-8';

.error-section {
	align-items: center;
	display: flex;
	height: 600px;
	flex-direction: column;
	justify-content: center;
	margin-top: 65px;

	&__content {
		padding: 70px 40px;
		text-align: center;
		width: 500px;

		.fa {
			margin-right: 15px;
		}

		.btn {
			position: relative;
			width: 100%;
		}
	}
}
