/**
    Login - The login page's styling rules.
*/

@charset 'utf-8';

.login-section {
	&__content {
		padding: 50px 40px;
		width: 500px;

		.login-section__img {
			margin: 50px 0;
			width: 300px;
		}

		.login-section__btn {
			width: 100%;
		}
	}

	@media screen and (max-width: $break-point--tablet) {
		.login-section__btn[type='submit'] {
			margin-bottom: 20px;
		}
	}

	@media screen and (max-width: $break-point--phone) {
		.login-section__content {
			margin: 100px auto;
			width: auto;

			.login-section__img {
				width: 100%;
			}
		}
	}
}
