/**
    Pack - The pack page's styling rules.
*/

@charset 'utf-8';

.pack-section {
  padding: 200px 0 120px 0;

  &__upper {
    display: flex;
    margin-bottom: 80px;

    &__header {
      h4 {
        padding: 30px 0;
      }

      &__img {
        align-items: center;
        display: flex;
        justify-content: center;
        padding: 15px !important;
      }
    }

    &__action {
      display: flex;
      flex-direction: column;
      justify-content: start;

      .pack-section__price {
        justify-self: end;
        margin-top: 50px;

        del {
          font-size: 22px;
        }

        b {
          font-size: 30px;
        }
      }

      .pack-section__quantity {
        align-items: flex-end;
        display: flex;
        height: 100%;

        label {
          margin-left: 10px;
          text-align: center;
        }

        input {
          font-size: 20px;
          text-align: center;
          font-weight: bold;
        }
      }

      .pack-section__buy {
        align-items: flex-end;

        .col {
          display: flex;
          flex-direction: column;

          a:first-of-type {
            margin-bottom: 8px;
          }
        }
      }
    }
  }

  .product-card {
    overflow: initial;
  }

  /*&__lower {
  }*/

  @media screen and (max-width: 1240px) {
    padding: 130px 0 50px 0;

    &__upper {
      &__action {
        .pack-section__price {
          del {
            font-size: 18px;
          }

          b {
            font-size: 24px;
          }
        }
      }
    }
  }

  @media screen and (max-width: $break-point--tablet) {
    &__upper {
      flex-direction: column;
      margin-bottom: 20px;

      &__action {
        label {
          margin-left: 53px !important;
        }
      }
    }
  }

  @media screen and (max-width: $break-point--phone) {
    padding: 70px 0 10px 0;

    &__upper {
      &__action {
        .pack-section__price {
          del {
            font-size: 19px;
          }

          b {
            font-size: 24px;
          }
        }

        label {
          margin-left: 25px !important;
        }
      }
    }
  }
}
