/**
    Product - The product page's styling rules.
*/

@charset 'utf-8';

.product-section {
  padding: 180px 0 100px 0;

  &__upper {
    height: 270px;
    margin-bottom: 80px;

    &__header {
      height: 100%;

      h4 {
        padding: 20px 10px;
      }

      &__img {
        display: flex;
        height: 100%;
        justify-content: center;

        img {
          height: 200px;
          margin-top: 30px;
          width: 130px;
        }
      }
    }

    &__action {
      height: 100%;

      .product-variant-select {
        margin-top: 20px;
      }
    }
  }

  &__lower {
    height: 800px;

    &__main {
      height: 100%;
    }

    &__side {
      height: 100%;

      img {
        margin-top: 10px;
        width: 100%;
      }
    }
  }
}
