/**
    Product - The product page's styling rules.
*/

@charset 'utf-8';

.product-section {
  padding: 180px 0 100px 0;

  &__price {
    del {
      font-size: 15px;
    }

    b {
      font-size: 20px;
    }
  }

  &__upper {
    display: flex;
    margin-bottom: 80px;

    &__header {
      h4 {
        padding: 20px 10px;
      }

      table {
        margin-bottom: 20px;
      }

      &__img {
        display: flex;
        height: 100%;
        justify-content: center;

        img {
          height: 200px;
          margin-top: 30px;
          width: 130px;
        }
      }
    }

    &__action {
      .product-variant-select {
        margin-top: 20px;
      }
    }
  }

  &__lower {
    &__main {
      .ql-editor {
        width: 100%;

        img {
          width: 100%;
        }
      }

      .ql-clipboard,
      .ql-tooltip {
        display: none;
      }
    }

    &__side {
      img {
        margin: 12px 0 8px 0;
        width: 100%;
      }
    }
  }

  @media screen and (max-width: $break-point--tablet) {
    &__upper {
      margin-bottom: 20px;

      &__header {
        &__img {
          margin-bottom: 40px;
        }
      }

      &__action {
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        .product-section__price {
          del {
            font-size: 19px;
          }

          b {
            font-size: 24px;
          }
        }
      }
    }

    table {
      box-sizing: border-box;
      margin: 10px 0;
    }

    &__lower {
      &__side {
        h4 {
          font-size: 20px;
        }
      }
    }
  }

  @media screen and (max-width: $break-point--phone) {
    &__upper {
      display: block;

      &__header {
        margin-bottom: 50px;

        img {
          margin-bottom: 30px;
        }

        h4 {
          margin-bottom: 0;
        }

        table {
          margin-bottom: 20px;
        }
      }
    }
  }
}
