/**
    Products - The products page's styling rules.
*/

@charset 'utf-8';

.products-section {
  padding: 100px 0;

  &__search {
    margin: 80px 0 100px 0;

    input[type='submit'], input[type='reset'] {
      width: 100%;
    }
  }

  &__list {
  }
}
