/**
    Categories - The categories page's styling rules.
*/

@charset 'utf-8';

.dashboard-categories {
	#categories-creation-tab,
	#categories-edition-tab,
	#categories-restoration-tab {
		margin-top: 50px;
		overflow-y: auto;

		input[type='submit'], input[type='button'] {
			width: 200px;
		}
	}
}
