/**
    Packs - The packs page's styling rules.
*/

@charset 'utf-8';

.dashboard-packs {
  #packs-creation-tab,
  #packs-edition-tab,
  #packs-restoration-tab {
    margin-top: 50px;
    overflow-y: auto;

    input[type='submit'],
    input[type='reset'],
    input[type='button'] {
      width: 400px;

      &:disabled {
        cursor: not-allowed;
      }
    }
  }

  .tab-controls {
    margin-top: 80px;
  }

  .stock-creation-products-panel {
    min-height: 70px;

    .products-list .card-content {
      height: 180px;
      overflow-y: auto;
    }
  }

  .packs-list {
    tr {
      cursor: pointer;
      transition-duration: 0.3s;
      transition-property: background-color;

      &:hover {
        background-color: $color-light;
      }
    }
  }

  .pack-edition-controls {
    margin-top: 80px;

    .col {
      display: flex;
      flex-direction: row;
      justify-content: center;

      &:not(:last-of-type) {
        margin-bottom: 20px !important;
      }

      input[type='submit'],
      input[type='reset'],
      input[type='button'] {
        color: $color-light;
        width: 300px;
      }
    }
  }
}
