/**
    Products - The products page's styling rules.
*/

@charset 'utf-8';

.dashboard-products {
  #products-creation-tab,
  #products-edition-tab,
  #products-restoration-tab {
    margin-top: 50px;
    overflow-y: auto;

    input[type='submit'] {
      width: 200px;
    }
    
    /*a.modal-trigger {
      width: 270px;
    }*/
  }

  .nutrition-facts-creation-preview {
    margin-bottom: 50px;
    max-height: 579px;
    overflow: hidden;
    padding: 10px;
    position: relative;

    img {
      width: 100%;
    }

    &::after {
      background-image: linear-gradient(to top, lighten($color-dark--light, 50), transparent);
      bottom: 0;
      content: '';
      height: 50px;
      left: 0;
      position: absolute;
      width: 100%;
    }
  }

  .stock-creation-section {
    .stock-creation-header, .stock-creation-flavor-entry .collapsible-header {
      display: flex;
      flex-direction: row;
      justify-content: flex-end;

      span:not(:first-child) {
        display: flex;
        flex: 1;
        justify-content: flex-end;
              
        .fa-balance-scale {
          font-size: 16px;
          margin-left: 8px;
        }
      }

      span:first-child {
        flex: 1;
      }
    }
    
    .fa-trash {
      color: #ffcece;
      text-align: left;
      transition-duration: .3s;
      transition-property: color;

      &:hover {
        color: #ff7979;
      }
    }

    .stock-creation-flavor-add-btn {
      margin-top: 30px;
      width: 100%;
    }
    
    .stock-creation-entry-flavor-list {
      h5 {
        margin-bottom: 30px;
      }
    }

    .card-title {
      margin-bottom: 70px;
    }
  }

  #stock-creation-modal input[type='submit'] {
    cursor: pointer;
  }

  .ql-editor strong {
    font-weight: bold;
  }

  /*#product-creation-modal {
    .select-wrapper ul {
      height: 350px;
      overflow: auto;
    }
  }*/

  /*.highlighted-table {
    tbody tr {
      cursor: pointer;

      &:hover {
        background-color: $color-light;
      }
    }
  }*/

  /*.stock-section {
    table {
      border: 1px solid grey;
      margin-bottom: 80px;

      .stock-remove i {
        font-size: 15px;
      }
    }
  }*/
}
