/**
    Products - The products page's styling rules.
*/

@charset 'utf-8';

.dashboard-products {
	#products-creation-tab,
	#products-edition-tab {
		margin-top: 50px;
		overflow-y: auto;

		input[type='submit'] {
			width: 200px;
		}

		a.modal-trigger {
			width: 270px;
		}
	}

	.ql-editor strong {
		font-weight: bold;
	}

	.stock-section {
		table {
			border: 1px solid grey;
			margin-bottom: 80px;

			.stock-remove i {
				font-size: 15px;
			}
		}
	}
}
