/**
    Products - The products page's styling rules.
*/

@charset 'utf-8';

.dashboard-products {
  #products-creation-tab,
  #products-edition-tab,
  #products-restoration-tab {
    margin-top: 50px;
    overflow-y: auto;
  }
  
  .product-creation-controls, .product-edition-controls {
    margin-top: 80px;

    .col {
      display: flex;
      flex-direction: row;
      justify-content: center;

      input[type='submit'], input[type='reset'] {
        color: $color-light;
        width: 300px;
      }
    }
  } 

  .nutrition-facts-creation-preview, .nutrition-facts-edition-preview {
    margin-bottom: 50px;
    max-height: 579px;
    overflow: hidden;
    padding: 10px;
    position: relative;

    img {
      width: 100%;
    }

    &::after {
      background-image: linear-gradient(to top, lighten($color-dark--light, 50), transparent);
      bottom: 0;
      content: '';
      height: 50px;
      left: 0;
      position: absolute;
      width: 100%;
    }
  }

  .stock-creation-entry-variant-image-preview {
    background-image: url(/assets/img/backgrounds/placeholder.jpg);
    background-position-x: center; 
    background-repeat: no-repeat;
    background-size: contain;
    height: 200px;

    img {
      display: none;
    }
  }

  .stock-creation-section, .stock-edition-section {
    .stock-creation-header, .stock-creation-flavor-entry .collapsible-header, .stock-edition-header, .stock-edition-flavor-entry .collapsible-header {
      display: flex;
      flex-direction: row;
      justify-content: flex-end;

      span:not(:first-child) {
        display: flex;
        flex: 1;
        justify-content: flex-end;
              
        .fa-balance-scale {
          font-size: 16px;
          margin-left: 8px;
        }
      }

      span:first-child {
        flex: 1;
      }
    }

    .stock-creation-flavor-entry .collapsible-body, .stock-edition-flavor-entry .collapsible-body {
      .stock-creation-entry-variant-image-wrapper, .stock-edition-entry-variant-image-wrapper {
        margin-top: 60px !important;
      }
    }
    
    .fa-trash {
      color: #ffcece;
      text-align: left;
      transition-duration: .3s;
      transition-property: color;

      &:hover {
        color: #ff7979;
      }
    }

    .fa-star {
      color: #e9f0ff;
      text-align: left;
      transition-duration: .3s;
      transition-property: color;

      &:hover {
        color: #a7c4ff;
      }

      &.featured {
        color: yellow;
      }
    }

    .stock-creation-flavor-add-btn, .stock-edition-flavor-add-btn {
      margin-top: 30px;
      width: 100%;
    }
    
    .stock-creation-entry-flavor-list, .stock-edition-entry-flavor-list {
      h5 {
        margin-bottom: 30px;
      }
    }

    .card-title {
      margin-bottom: 70px;
    }
  }

  #stock-creation-modal input[type='submit'] {
    cursor: pointer;
  }

  .product-list {
    tr {
      cursor: pointer;
      transition-duration: .3s;
      transition-property: background-color;

      &:hover {
        background-color: $color-light;
      }
    }
  }

  .ql-editor strong {
    font-weight: bold;
  }
}
