.dashboard-brands {

    #brands-creation-tab, #brands-edition-tab {
        margin-top: 50px;
        overflow-y: auto;

        input[type=submit] {
            width: 200px;
        }
    }

    .materialboxed {
        width: 100%;
    }
}
