.dashboard-categories {

    #categories-creation-tab, #categories-edition-tab {
        margin-top: 50px;
        overflow-y: auto;

        input[type=submit] {
            width: 200px;
        }
    }
}
