section.dashboard {
    padding: 150px 0 100px 0;

    .collection {

        .collection-item {
            color: $color-dark;
            transition-duration: .3s;
            transition-property: background-color;
    
            &:hover, &.active-page {
                background-color: $color-light;
            }
    
            .fa {
                margin-right: 20px;
            }
        }
    }

    .dashboard-grid {
        padding: 0 150px;

        .card-label {
            
            span {
                font-size: 30px;
                font-weight: bold;
            }
        }
    }
}
