.dashboard-brands {
    padding-bottom: 50px;

    #brands-creation-tab, #brands-edition-tab {

        input[type=submit] {
            width: 200px;
        }
    }

    #brands-edition-tab {
        overflow: auto;
    }

    .materialboxed {
        width: 100%;
    }
}
