.dashboard-products {
	#products-creation-tab,
	#products-edition-tab {
		margin-top: 50px;
		overflow-y: auto;

		input[type="submit"] {
			width: 200px;
        }
        
        a.modal-trigger {
            width: 270px;
        }
	}

	.ql-editor strong {
		font-weight: bold;
    }
    
    .stock {
        border: 1px solid grey;
        border-radius: 3px;
        padding-top: 50px;
    }
}
